---
layout: default
---
<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}
<section>
  <h2>
    <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
  </h2>
  <span class="work-item"><i class="fa fa-calendar fa-fw"></i> {{ post.date | date: "%d %B %Y" }}{% if post.categories %} on <i class="fa fa-tags fa-fw"></i> {{ post.categories | join: ', ' }}{% endif %}</span>
  <p>
    <div class="work-item">{{ post.excerpt | strip_html }}</div>
    <a href="{{ post.url | prepend: site.baseurl }}">Read more &raquo;</a>
  </p>
</section>
{% endfor %}

{% if paginator.total_pages > 1 %}
<!-- Pagination links -->
<section>
  <p>
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}">Previous</a>
    {% endif %}
    <span>Page: {{ paginator.page }} of {{ paginator.total_pages }}</span>
    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">Next</a>
    {% endif %}
  </p>
</section>
{% endif %}
