<!-- So meta -->
<meta charset="{{ site.encoding }}" />
<title>{% if page.title %}{{ page.title | append:' - ' | append:site.title }}{% else %}{{ site.title | append:' - ' | append:site.tagline }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | join:' ' | markdownify | strip_html | strip_newlines }}{% endif %}" />
<meta name="author" content="{{ site.author }}" />
<meta name="keywords" content="{{ site.keywords }}" />
<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="3 month" />
