{% if site.twitter_username %}
<!-- Twitter card -->
<meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}" />
<meta name="twitter:url" content="{{ page.url | remove:'index.html' | prepend: site.baseurl | prepend: site.url }}" />
<meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title | append:' - ' | append:site.tagline }}{% endif %}" />
<meta name="twitter:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description | join:' ' | markdownify | strip_html | strip_newlines }}{% endif %}" />
<meta name="twitter:image" content="{% if page.image %}{{ site.url }}{{ site.baseurl }}/images/{{ page.image }}{% else %}{{ "/images/avatar.jpg" | prepend: site.baseurl | prepend: site.url }}{% endif %}" />
<meta name="twitter:site" content="@{{ site.twitter_username }}" />
{% endif %}
